article {
    width: 90%;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
}
#contact {
}

#a {
    width: 50%;
    float: left;
    margin-bottom: 30px;
}
#name {
    border-color: black;
}
#email {
    border-color: black;
}
#subject {
    border-color: black;
}
#message {
    border-color: black;
}
#listing {
    text-align: center;
}