article{
    height: 100%;
}
#content {
    float: left;
    background-color: gray;
    height: 100%;
    width: 70%;
    position: fixed;
}
#sidebar {
    float: right;
    background-color: red;
    height: 100%;
    width: 30%;
    right: 0;
    position: fixed;
}