article{
    height: 100%;
}
#content {
    color: white;
    background-color: black;
    float: left;
    height: 100%;
    width: 70%;
    position: fixed;
}
#sidebar {
    float: right;
    background-color: black;
    color:white;
    height: 100%;
    width: 30%;
    right: 0;
    position: fixed;
}
/*
#sidebar ul{
    margin: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.43);
}*/
#sidebar h3{    
    height: 5%;
    width: 100%;
}
#sidebar li{
    display: block;
    float: left;
    text-align: center;
    float:left;
    padding: 8% 10px;
    width: 100%;
    background-color: black;
}
#sidebar li:hover
{
    background-color: orange;
    cursor: pointer;
}

#main{
    height: 50%;
    width: 100%;
}
#content h3{
    background-color: black;
    color:white;
    height: 5%;
    padding: 10px;
    margin: 0;
    width: 100%;
}
#left{
    float: left;
    background-color: rgba(55, 197, 236, 0.43);
    height: 100%;
    width: 10%;
    cursor: pointer;
}
#right{
    float: left;
    background-color: rgba(55, 197, 236, 0.43);
    height: 100%;
    width: 10%;
    right:0;
    cursor: pointer;
}
#item{
    float: left;
    height: 100%;
    width: 80%;
}
#item img{
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
}
#art{
    height: 45%;
    width: 100%;
    text-align: center;
}
#art a{
    display: block;
    font-style: none;
    padding: 8px 16px;
    background-color: orange;
    color: black;
}
#desc{
    width: 100%;
    padding: auto auto;
    text-align: center;
    color: white;
    background-color: black;
}
#left img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    width: 100%;
}
#right img {
    width: 100%;
}
