article{
    height: 100%;
}
#content {
    float: left;
    background-color: rgb(34, 34, 34);
    height: 100%;
    width: 70%;
    position: fixed;
}
#sidebar {
    float: right;
    background-color: red;
    height: 100%;
    width: 30%;
    right: 0;
    position: fixed;
}
#sidebar ul{
    margin: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.43);
}
#sidebar h3{    
    height: 5%;
    width: 100%;
    background-color: rgba(0, 255, 157, 0.43);
}
#sidebar li{
    display: block;
    float: left;
    text-align: center;
    float:left;
    padding: 8% 10px;
    width: 100%;
    background-color: rgba(255, 196, 0, 0.43);
}
#sidebar li:hover
{
    background-color: orange;
    cursor: pointer;
}

#main{
    height: 50%;
    width: 100%;
}
#content h3{
    background-color: grey;
    height: 5%;
    padding: 10px;
    margin: 0;
    width: 100%;
}
#art{
    background-color: green;
    height: 45%;
    width: 100%;
}
#left{
    float: left;
    background-color: rgba(173, 217, 230, 0.43);
    height: 100%;
    width: 10%;
    cursor: pointer;
}
#item{
    float: left;
    background-color: rgba(34, 34, 34, 0);
    height: 100%;
    width: 80%;
}
#item img{
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
}
#right{
    float: left;
    background-color: rgba(173, 217, 230, 0.43);
    height: 100%;
    width: 10%;
    right:0;
    cursor: pointer;
}
#desc{
    margin: 0px;
}
